@model Ejercicio4.Models.Empleado

<tr>
    <td>
        <input type="checkbox" name="empleadoIdsBorrar" id="empleadoIdsBorrar" value="@Model.EmpleadoId"/>
    </td>
    <td>
        @Model.Nombre
    </td>
    <td>
        @Model.Genero
    </td>
    <td>
        @Model.Ciudad
    </td>
</tr>